    body {
      font-family: 'Roboto', "Arial", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #283136;
    }
    /* для наглядности*/

    .catalog-item, .catalog-content, .filters, .catalog-title, .clients-logo, .footer-info, .footer-social, .footer, .map-contacts, .footer-map, .slider, .logo, .nav, .user-block, .features-item, .index-content-left, .index-content-right {
      background: rgba(255, 45, 82, 0.2);
    }

    .container {
      border: 1px dotted #3e6dc4;
    }
    /* для наглядности*/

    .slider-item-math, .slider-item-worktime {
      display: none;
    }

    .clearfix::after {
      content: "";
      display: block;
      clear: both;
    }

    .container {
      width: 1160px;
      margin: 0 auto;
      padding: 0 10px;
    }
    /* header*/

    .main-header {
      margin-bottom: 80px;
    }

    .logo {
      float: left;
      width: 180px;
      padding-top: 49px;
      padding-bottom: 18px;
      margin-right: 20px;
    }

    ul {
      margin: 0;
    }

    .nav, .user-block {
      float: left;
      width: 760px;
      padding-top: 82px;
      margin-right: 20px;
      line-height: 30px;
      font-weight: 500;
      color: #000000;
      text-transform: uppercase;
      text-align: center;
    }

    .nav li {
      display: inline-block;
      margin-right: 46px;
    }

    .user-block {
      /*    float: right;*/
      width: 180px;
      margin-right: 0;
      /*  padding-top: 82px;
      padding-bottom: 33px;*/
    }
    /*поля у h2 ul {
      margin: 0
    }*/

    h2 {
      margin: 0
    }

    ul {
      padding: 0;
      list-style-type: none;
    }
    /* слайдер*/

    .slider {
      clear: both;
      width: 1160px;
    }

    .slider-item-design {
      background: url("../img/nerds-index-slide1.png") 100% 100% no-repeat;
      min-height: 431px;
    }

    .slider-item-title {
      font-size: 55px;
      line-height: 55px;
      font-weight: 500;
      color: #000000;
    }
    /* features*/

    .features {
      margin-bottom: 80px;
    }

    .features-item {
      float: left;
      width: 360px;
      margin-right: 40px;
    }

    .features-item:last-child {
      margin-right: 0px;
    }

    .features-name {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
    }
    /* content*/

    .index-content {
      margin-bottom: 70px;
      border-top: 2px solid #f4f4f4;
    }

    .index-content-left {
      float: left;
      width: 760px;
      padding-top: 75px;
    }

    .index-content-right {
      float: right;
      width: 360;
      padding-top: 41px;
    }
    /* logos*/

    .clients-logo li {
      list-style-type: none;
      display: inline-block;
      width: 24%;
      text-align: center;
      filter: alpha (opcity=20);
      opacity: 0.2;
    }

    .clients-logo {
      border-top: 2px solid #f4f4f4;
      border-bottom: 2px solid #f4f4f4;
    }
    /* contacts*/

    .map {
      margin-top: 80px;
      background: url("../img/map.png") 100% 100% no-repeat;
      min-height: 416px;
    }

    .map-contacts {
      padding: 50px 50px 48px 50px;
      width: 320px;
    }
    /* footer*/

    .footer {}

    .footer-social {
      float: left;
      width: 260px;
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .footer-info {
      float: right;
      width: 760px;
      padding-top: 70px;
      padding-bottom: 70px;
    }
    /*стили кнопок*/

    .btn {
      display: block;
      padding: 18px;
      border-radius: 5px;
      line-height: 18px;
      font-weight: 500;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background: #fb565a;
    }

    .btn-green {
      background: #00ca74;
    }

    .btn-yellow {
      background: #efc849;
    }

    .btn-filter {
      color: #000000;
      background: #eeeeee;
    }
    /*стили каталога*/

    .catalog-header {
      margin-bottom: 55px;
      background: #eeeeee;
    }

    .catalog-title {
      clear: both;
      width: ;
      padding-top: 57px;
      padding-bottom: 105px;
    }

    .filters {
      float: left;
      width: 260px;
    }

    .catalog-content {
      float: right;
      width: 760px;
    }

    .catalog-item {
      display: inline-block;
      width: 360px;
    }

    .catalog-item:nth-child(odd) {
      margin-right: 36px;
    }

    .filter-form-title, .catalog-info-title {
      font-size: 18px;
      line-height: 30px;
      font-weight: 700;
      color: #000000;
      text-transform: uppercase;
    }

    .catalog-info-description {
      line-height: 18px;
      color: #666666;
    }
    /*
    border-top: 2px solid #f4f4f4;


.btn {
    display: block;
    width: 160px;
    margin: 20px auto;
    padding: 12px;
    color: white;
    background: #34495e;
    border-radius: 5px;
    cursor: pointer;
}*/
